mlflow==2.7.1
cffi==1.16.0
defusedxml==0.7.1
fsspec==2023.9.2
numpy==1.23.5
packaging==23.2
pandas==2.1.1
protobuf==4.24.4
pydot==1.4.2
requests==2.31.0
scipy==1.11.3
tensorflow-intel==2.14.0
tensorflow==2.14.0